/* 40 */
/* 36 */
/* 32 */
/* 28 */
/* 24 */
/* 20 */
/* 14 */
body {
  font-family: 'Cardo', serif;
  color: #FFF;
}

img {
  max-width: auto;
}

.h-10 {
  height: 100vh;
}

.h-60 {
  height: 21.875rem;
}

@media (min-width: 768px) {
  .h-60 {
    height: 31.25rem;
  }
}

@media (min-width: 992px) {
  .h-60 {
    height: 37.5rem;
  }
}

.h-img {
  height: 80vh !important;
}

.h-img {
  height: 500px !important;
}

@media (min-width: 768px) {
  .h-img {
    height: 400px !important;
  }
}

@media (min-width: 992px) {
  .h-img {
    height: auto !important;
  }
}

.img-box__01 {
  width: 345px;
  height: 400px;
  background-image: url(../images/archviz.JPG);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__01 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__01 {
    width: 550px;
    height: 700px;
  }
}

.img-box__02 {
  width: 345px;
  height: 400px;
  background-image: url(../images/about.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__02 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__02 {
    width: 550px;
    height: 700px;
  }
}

.img-box__03 {
  width: 345px;
  height: 400px;
  background-image: url(../images/q3r.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__03 {
    width: 100%;
    height: 600px;
    background-position: 50% 40%;
  }
}

@media (min-width: 992px) {
  .img-box__03 {
    width: 550px;
    height: 700px;
  }
}

.img-box__04 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-7.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__04 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__04 {
    width: 550px;
    height: 700px;
  }
}

.img-box__05 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-1.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__05 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__05 {
    width: 550px;
    height: 700px;
  }
}

.img-box__06 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-10.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__06 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__06 {
    width: 550px;
    height: 700px;
  }
}

.img-box__07 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-2.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__07 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__07 {
    width: 550px;
    height: 700px;
  }
}

.img-box__08 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-3.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__08 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__08 {
    width: 550px;
    height: 700px;
  }
}

.img-box__09 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-4.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__09 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__09 {
    width: 550px;
    height: 700px;
  }
}

.img-box__10 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-5.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__10 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__10 {
    width: 550px;
    height: 700px;
  }
}

.img-box__11 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-6.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__11 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__11 {
    width: 550px;
    height: 700px;
  }
}

.img-box__12 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-7.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__12 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__12 {
    width: 550px;
    height: 700px;
  }
}

.img-box__13 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-8.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__13 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__13 {
    width: 550px;
    height: 700px;
  }
}

.img-box__14 {
  width: 345px;
  height: 400px;
  background-image: url(../images/work/work-9.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .img-box__14 {
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
  }
}

@media (min-width: 992px) {
  .img-box__14 {
    width: 550px;
    height: 700px;
  }
}

.text-box__01 {
  width: 345px;
}

@media (min-width: 768px) {
  .text-box__01 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .text-box__01 {
    width: 350px;
  }
}

.fit {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-blend {
  opacity: 0.3;
}

.z-2 {
  z-index: 2;
}

.z-top {
  z-index: 3;
}

.ff-red {
  font-family: 'Red Hat Text', sans-serif;
}

.fs-large {
  font-size: 85px;
}

@media (max-width: 991.98px) {
  .fs-large {
    font-size: 12vw;
  }
}

@media (max-width: 767.98px) {
  .fs-large {
    font-size: 16vw;
  }
}

.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  /* display: none; */
  opacity: 0;
  -webkit-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.menu-burger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
}

.menu-burger::before,
.menu-burger::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
}

.menu-burger::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-burger::after {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-btn.open .menu-burger {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
      -ms-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
      -ms-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 991.98px) {
  .dropdown {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
    background-color: #000;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  }
}

@media (max-width: 991.98px) {
  .dropdown.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.dropdown li a {
  font-size: 32px;
}

@media (min-width: 992px) {
  .dropdown li a {
    font-size: 20px;
  }
}

.topic01 {
  position: relative;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.topic01::after {
  width: 20px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .swiper-slide {
    width: 70%;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: 100%;
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .swiper-slide {
    width: 70%;
  }
}

.page-section {
  padding-top: 22.5rem;
  padding-bottom: 22.5rem;
}

@media (max-width: 991.98px) {
  .page-section {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}

@media (max-width: 767.98px) {
  .page-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

/*# sourceMappingURL=all.css.map */
