.h-10 {
    height: 100vh;
}

.h-60 {
    height: 21.875rem;
    @include media-breakpoint-up(md) {
        height: 31.25rem;
    }
    @include media-breakpoint-up(lg) {
        height: 37.5rem;
    }
}

.fit {
    object-fit: cover;
}

.bg-blend {
    opacity: 0.3;
}

.z-2 {
    z-index: 2;
}

.z-top {
    z-index: 3;
}

.ff-red {
    font-family: 'Red Hat Text', sans-serif;
}

